body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(69, 66, 66);
}
.main{
    height: 100%;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: gray;
    gap: 70px;
}
.aaa{
    color: white;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    margin-right: 160px;
}
.bbb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.div-a{
  justify-content: center;
  align-items: center;
  padding-top: 250px;
  margin-left: 200px;
}
.pa{
font-weight: bold;
color: burlywood;
font-size: 25px;
}
.pb{
    font-weight: bold;
    color: antiquewhite;
    font-size: 25px;

}
.pc{
    font-weight: bold;
    color: burlywood;
    font-size: 30px;  
}
.pd{
    color: rgb(203, 196, 196);
}
.hire{
    display: flex;
    gap: 20px;
}
#abc{
    border: 0px;
    background-color: blueviolet;
    padding: 15px 20px 15px 20px;
    font-size: 15px;
    font-weight: bold;
    color:antiquewhite;
}
#cde{
    border: 0px;
    background-color: rgb(215, 170, 110);
    padding: 15px 30px 15px 30px;
    font-size: 15px;
    font-weight: bold;
    color:antiquewhite;

}
.main-1{
    display: flex;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
.home:hover,.services:hover,.about:hover,.resume:hover,.port:hover,.blog:hover,.contact:hover{
color: white;
}
#abc:hover,#cde:hover{
    scale: 1.2;
}
